<!doctype html>
<title>{% block title %}{% endblock %} Donate to Veterans</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% block content %}
{% for message in get_flashed_messages() %}
    <h2>{{ message }}</h2>
{% endfor %}
<form method="post">
    <h3 for="username">Enter your Venmo account's username:</h2>
    <input name="username" id="username" required>
    <h3 for="amount">Enter the amount you would like to donate:</h2>
    <label>$</label>
    <input name="amount" id="amount" required>
    <input type="submit" value="Submit">
</form>
{% endblock %}
